:root {
    /* COLOR */
    --color-black : #000000;
    --color-black-shadow : rgba(0, 0, 0, .5);
    --color-white : #ffffff;
    --color-white-shadow : rgba(255, 255, 255, 0.5);

    --color-brown : rgb(165, 83, 0);
    --color-brown-shadow : rgb(165, 83, 0, .5);
    --color-brown-dark : rgb(69, 35, 0);
    --color-brown-dark-shadow : rgb(69, 35, 0, .5);
    --color-brown-dark-strong-shadow : rgb(69, 35, 0, .7);
    --color-purple-light-shadow : rgba(105, 61, 11, .5);

    --color-warrior: rgba(167, 0, 0, 0.7);
    --color-warrior-dark: rgb(102, 0, 0);
    --color-sorcerer: rgba(58, 56, 231, 0.7);
    --color-sorcerer-dark: rgb(34, 32, 134);
    --color-thief: rgba(7, 150, 0, 0.7);
    --color-thief-dark: rgb(13, 99, 9);

    --color-detruction-shadow : rgba(159, 52, 52, 0.5);
    --color-guerison-shadow : rgba(212, 191, 0, 0.5);
    --color-illusion-shadow : rgba(143, 52, 159, 0.5);
    --color-alteration-shadow : rgba(52, 159, 59, 0.5);
    --color-conjuration-shadow : rgba(65, 52, 159, 0.5);

    /* FONTS */
    --font-main : 'Black Ops One';
}

/* #region ##### FONTS ##### */

  /* #region BLACK-OPS-ONE FONT */

    /* black-ops-one-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Black Ops One';
        font-style: normal;
        font-weight: 400;
        src: url('../public/fonts/black-ops-one-v20-latin-regular.eot'); /* IE9 Compat Modes */
        src: url('../public/fonts/black-ops-one-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                url('../public/fonts/black-ops-one-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
                url('../public/fonts/black-ops-one-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
                url('../public/fonts/black-ops-one-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
                url('../public/fonts/black-ops-one-v20-latin-regular.svg#BlackOpsOne') format('svg'); /* Legacy iOS */
        }

    /* #endregion */

  /* #endregion */

/* #region ##### AVATAR ##### */

.avatar-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.argonien1{
    background-image: url(../public/img/Argonien1.jpg);
}

.argonien2{
    background-image: url(../public/img/Argonien2.jpg);
}

.argonien3{
    background-image: url(../public/img/Argonien3.jpg);
}

.argonien4{
    background-image: url(../public/img/Argonien4.jpg);
}

.argonien5{
    background-image: url(../public/img/Argonien5.jpg);
}

.breton1{
    background-image: url(../public/img/Breton1.jpg);
}

.khajiit1{
    background-image: url(../public/img/Khajiit1.jpg);
}

.rougegarde1{
    background-image: url(../public/img/Rougegarde1.jpg);
}

/* #endregion */



/* GANTS */

.gant-ragnard {
    background-image: url(../public/img/GantsCuirRagnard.jpg);
}

.casque-ragnard {
    background-image: url(../public/img/CasqueCuirRagnard.webp);
}


/* ARTISANAT */

.epee-acier {
    background-image: url(../public/img/epeeAcier.jpg);
}


/* ARTISANAT */

.poudre-os {
    background-image: url(../public/img/PoudreOs.jpg);
}

.pierre-glace {
    background-image: url(../public/img/PierreGlace.jpg);
}

.pierre-feu {
    background-image: url(../public/img/PierreFeu.jpg);
}

.pierre-foudre {
    background-image: url(../public/img/PierreFoudre.jpg);
}

.minerai-fer {
    background-image: url(../public/img/MineraiFer.jpg);
}

.minerai-acier {
    background-image: url(../public/img/MineraiAcier.jpg);
}

/* POTION */

.potion-respiration {
    background-image: url(../public/img/PotionRespiration.jpg);
}

.potion-vigueur {
    background-image: url(../public/img/PotionVigueur.jpg);
}

.potion-sante {
    background-image: url(../public/img/PotionVie.png);
}

.dague-fer {
    background-image: url(../public/img/DagueFer.png);
}

.bottes-ragnard {
    background-image: url(../public/img/BottesCuirRagnard.png);
}

/* OTHER */

.or {
    background-image: url(../public/img/Septims.jpg);
}

.baton-destruction-feu {
    background-image: url(../public/img/BatonFeu.png);
}

.baton-guerrison {
    background-image: url(../public/img/BatonGuerison.png);
}

.baton-destruction-glace {
    background-image: url(../public/img/BatonGlace.png);
}

.baton-destruction-foudre {
    background-image: url(../public/img/BatonFoudre.png);
}

.chapeau-lin {
    background-image: url(../public/img/ChapeauLin.jpg);
}

.chassures-lin {
    background-image: url(../public/img/ChassureLin.jpg);
}

.robe-lin {
    background-image: url(../public/img/RobeLin.jpg);
}

.fleur-lin {
    background-image: url(../public/img/FleurLin.png);
}

.sort-courage {
    background-image: url(../public/img/LivreSortCourage.png);
}

.parchemin-mundus {
    background-image: url(../public/img/ParcheminMundus.png);
}